<% if flash[:notice] %>
  <%= render 'layouts/flash_notice' %>
<% end %>
<% if flash[:error] %>
  <%= render 'layouts/flash_error' %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm home-pictures">
      <%= image_tag('smith_river_nir_full.png', style:'max-height:500px', class: 'd-inline-block align-top', alt: 'stuart illson research') %>
      <%= image_tag('smith_river_nir_plt.png', style:'max-height:500px', class: 'd-inline-block align-top', alt: 'stuart illson research') %>
    </div>
    <div class="col-sm">
      <h2 class="display-2">Stuart Illson</h2>
      <h4>Introduction</h4>
      <p>My name is Stuart, and I am a Data Scientist/Data Engineer based out of Bend Oregon. I'm a Data Engineer by trade, which means I study and implement the most effective methods 
      of processing and storing mind-bogglingly large amounts of data. I do what I do to make the task of abstracting value from datasets easy and reliable.</p>
      <p>Currently I am pursuing a masters degree in Environmental Observation & Informatics at the University of Wisconsin Madison. I am learning about all things remote sensing, and how to apply my career in big data and machine learning to real-world remote sensing challenges.</p>
      <p>In my free time I like to take a break from the glare of the computer screen by getting outside and enjoying the leeward side of the Cascades. Whether touring, commuting, or riding single track -- I am enthusiastic about all things bicycle. Typically I'll combine that with fly-fishing efforts, or even backcountry snowboarding.</p>
      <h4>Mission Statement & Interests</h4>
      <p>I became a Software Engineer almost by accident. Growing up my primary interests were in Ecology and the Sciences, however after getting my undergrad, the most attractive jobs drew me to San Francisco to work in software. After acquiring a skillset in programming and data processing, I see almost limitless potential for it's application. It feels inevitable that I will find it's incorporation beneficial to all of my future work.</p>
      <p>My passion projects have included computer vision applications to count fish redds, home-cooked forecasting models for anadromous fish passage, or tree identification software.</p>
      <div class="row">
        <div class="col-sm">
          <h4>Skills</h4>
          <ul class="list-unstyled">
            <li>- Data Warehousing</li>
            <li>- Big Data Processing</li>
            <li>- Application Development</li>
            <li>- Database Administration</li>
            <li>- Agile/Rapid Development</li>
            <li>- Languages
              <ul>
                <li>Ruby</li>
                <li>SQL</li>
                <li>R</li>
                <li>Python</li>
                <li>Javascript</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-sm">
          <h4>Experience</h4>
          <ul class="list-unstyled">
            <li>- Data Scientist at <a href="https://sworkit.com", target="_blank">Sworkit</a></li>
            <li>- Data Engineer at <a href="https://www.getg5.com", target="_blank">GetG5</a></li>
            <li>- Freelance Rails Developer</li>
            <li>- Deployment Coordinator at <a href="https://vendini.com", target="_blank">Vendini</a></li>
            <li>- Floodplain Analyst at <a href="https://friendsoftheriver.org", target="_blank">FOTR</a></li>
            <li>- Education
              <ul>
                <li>MS Environmental Observation & Informatics @ UW Madison (in progress)</li>
                <li>Biology/Psychology @ CSUC</li>
              </ul>
            </li>
            <li>- Frameworks
              <ul>
                <li>Rails</li>
                <li>BigQuery</li>
                <li>GCP</li>
                <li>AWS</li>
                <li>Hadoop</li>
                <li>Spark</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <h4>Get in Touch</h4>
      <p> I would love to get in touch regarding all things data, engineering, research, fishing, music, bike touring, or otherwise! Feel free to use the contact form via this website, or contact me directly at <a href="mailto:stuart.illson@gmail.com">stuart.illson@gmail.com</a></p>
    </div>
  </div>
</div>