<% if flash[:notice] %>
  <%= render 'layouts/flash_notice' %>
<% end %>
<% if flash[:error] %>
  <%= render 'layouts/flash_error' %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm home-pictures">
      <%= image_tag('max_mndwi_web.jpg', style:'max-height:500px', class: 'd-inline-block align-top', alt: 'stuart illson research') %>
      <%= image_tag('ndvi_image_web.jpg', style:'max-height:500px', class: 'd-inline-block align-top', alt: 'stuart illson research') %>
    </div>
    <div class="col-sm">
      <h2 class="display-2">Stuart Illson</h2>
      <h4>Introduction</h4>
      <p>I am a Data Scientist/Data Engineer based out of Bend Oregon, currently pursuing a masters degree in Environmental Observation & Informatics at the University of Wisconsin Madison. I am learning about all things remote sensing, and how to apply my career in big data and machine learning to real-world remote sensing challenges.</p>
      <div class="row">
        <div class="col-sm">
          <h4>Skills</h4>
          <ul class="list-unstyled">
            <li>- Data Warehousing</li>
            <li>- Big Data Processing</li>
            <li>- Machine Learning</li>
            <li>- Application Development</li>
            <li>- Database Administration</li>
            <li>- Agile/Rapid Development</li>
            <li>- Languages
              <ul>
                <li>Python</li>
                <li>Ruby</li>
                <li>SQL</li>
                <li>R</li>
                <li>Javascript</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-sm">
          <h4>Experience</h4>
          <ul class="list-unstyled">
            <li>- Data Scientist at <a href="https://sworkit.com", target="_blank">Sworkit</a></li>
            <li>- Data Engineer at <a href="https://www.getg5.com", target="_blank">GetG5</a></li>
            <li>- Freelance Rails Developer</li>
            <li>- Deployment Coordinator at <a href="https://vendini.com", target="_blank">Vendini</a></li>
            <li>- Floodplain Analyst at <a href="https://friendsoftheriver.org", target="_blank">FOTR</a></li>
            <li>- Education
              <ul>
                <li>MS Environmental Observation & Informatics @ UW Madison (in progress)</li>
                <li>Biology/Psychology @ CSUC</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <h4>Get in Touch</h4>
      <p> I would love to get in touch regarding all things data, engineering, research, fishing, music, bike touring, or otherwise! Feel free to use the contact form via this website, or contact me directly at <a href="mailto:stuart.illson@gmail.com">stuart.illson@gmail.com</a></p>
    </div>
  </div>
</div>