<% if flash[:notice] %>
  <%= render 'layouts/flash_notice' %>
<% end %>
<% if flash[:error] %>
  <%= render 'layouts/flash_error' %>
<% end %>
<div class="container landing-container">
  <div class="row">
    <div class="col-lg">
    </div>
  </div>
</div>