<div class="container">
  <div class="row justify-content-md-center">
    <div class=" col col-sm-7">
      <p> <br> Below is an emulation of water using the principles of Hookes law, implemented in javascript.</p>
      <div class="jumbotron jumbotron-fluid hookes-jumbotron">
        <div class="container">
          <h4 class="display-4">JS</h1>
          <pre>
            <code>
              <%= render 'portfolio/hookes_text' %>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="water"></div>
<%= render 'portfolio/hookes_code' %>