@import "material";
@import 'ionicons';


@media all and (max-width: 700px) {
    .home-pictures { display: none; }
}

.dropdown-toggle::after {
  content:'';
}
.icon.nav-icon {
  padding:10px;
}

.row-notice {
  background-color: #b8e6b8;
  margin: 20px 0px 5px;
  height: 3em;
}
.notice {
  margin: 10px 0px 5px;
}

.row-error {
  background-color: #e24848;
  margin: 20px 0px 5px;
  height: 3em;
}

.error {
  margin: 10px 0px 5px;
}

/* Fix the position of the water element */
.water-canvas {
  position: fixed;
  width: 100%;
  bottom: 0;
  opacity: 0.9;
}

.hookes-jumbotron {
  background-color: #dbdbdb;
  margin-bottom: 30em;
}


html { 
  background: url('20191030_fmp_fgreater.gif') no-repeat right 65% center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
