<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailModalLabel">Get in Touch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for :new_email, url: send_email_path do |f| %>
      <div class="modal-body">
        <div class="input-group mb-3">
          <%= f.text_field :senders_email, placeholder: 'youremail@domain.com', autofocus: true, class: 'form-control'%>
        </div>     
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Your Message</span>
          </div>
          <%= f.text_area :message, placeholder: 'Your Message', autofocus: true, class: 'form-control'%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit 'Send', class: 'btn btn-primary' %>
      </div>
    </div>
    <% end %>
  </div>
</div>