<nav class="navbar navbar-light bg-light">
  <%= link_to "Stuart Illson", root_path, class: "navbar-brand" %>
  <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Portfolio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/portfolio/hookes">Hookes</a>
          <a class="dropdown-item" href="/portfolio/passive-capture">Passive-Capture</a>
          <a class="dropdown-item" href="/portfolio/tensor-flow">Tensor-Flow</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/sillson" target="_blank">Git<i class="icon nav-icon ion-social-octocat"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://linkedin.com/in/stuartillson" target="_blank">LinkedIn<i class="icon nav-icon ion-social-linkedin"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://instagram.com/sockaye" target="_blank">Instagram<i class="icon nav-icon ion-social-instagram-outline"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#emailModal">Contact<i class="icon nav-icon ion-android-mail"></i></a>
      </li>
    </ul>
</nav>

<%= render "layouts/contact_modal" %>